@model ClinicaPsicologica.Models.ErrorViewModel

<h1 class="text-danger">Ocorreu um erro.</h1>

<p>
    O ID da requisição é: <code>@Model.RequestId</code>
</p>

@if (Model.ShowRequestId)
{
    <p>Por favor, forneça o ID da requisição ao suporte técnico para ajudar a diagnosticar o problema.</p>
}
